<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.absensiptsti">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Absensi PT. STI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AbsensiPTSTI">
        <activity android:name=".HistoryInOutActivity"></activity>
        <activity android:name=".TampilAbsenOutActivity" />
        <activity android:name=".OutActivity" />
        <activity android:name=".InOutActivity" />
        <activity android:name=".PanduanActivity" />
        <activity android:name=".LoginRegisActivity" />
        <activity android:name=".AddActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".TerimaKasihActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SelamatDatangActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>